.pages-home{
    h5{
        font-weight: 500;
        margin-bottom: 15px;
    }

    .store-trend-categories{
        margin-top: 50px;
    }

    .store-new-products{
        margin-top: 10px;
    }
}